alembic==1.13.3
bcrypt==4.0.1
email-validator==2.2.0
idna==3.10
fastapi==0.115.6
passlib[bcrypt]==1.7.4
psycopg[binary]==3.2.3
pydantic-settings==2.6.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.12
redis==5.2.1
sqlalchemy==2.0.36
typing-extensions==4.14.1
uvicorn[standard]==0.32.1
